name: khelify_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
    
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  
 
  firebase_auth: ^4.17.6
  cloud_firestore: ^4.15.6

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  # I have REMOVED flutterfire_cli

flutter:
  uses-material-design: true